:root {
    --button-farbe: #009e0f;
    --text-groesse: 1.25em;
}

body {
    background-color: #009e0f;
    margin: 0;
    height: 100vh;
    margin-right: 1em;
    margin-left: 1em;
    color: white;
}

header {
    display: flex;
}

header > * {
    flex-basis: 100%;
}

a {
    text-decoration: none;
    color: white;
}

a.active {
    text-decoration: underline;
}

.title {
    text-align: center;
    font-size: 2.5em;
}

.navAlles {
    height: 100%;
}

.nav {
    position: relative;
    top: calc(50% - 2.5ch);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    max-width: 50ch;
    max-height: 25ch;
    height: 5ch;
    border: 2px solid white;
}

.navLinks {
    min-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.waehlButton {
    display: flex;
    justify-content: center;
}

.button {
    position: relative;
    top: 15vh;
    padding: 2ch;
    min-width: 4em;
    background-color: var(--button-farbe);
    border-radius: 25px;
    border: 2px solid white;
    text-decoration: none;
    text-align: center;
    font-size: 1.15em;
    color: white;
}

#autoTitel{
    margin-top: 1em;
    text-align: center;
}

.autoDatenAnzeige{
    display: flex;
    grid-row: 1;
    line-height: var(--text-groesse);
    font-size: var(--text-groesse);
}
.autoDatenAnzeige > *{
    flex-basis: 100%;
}


#autoDatenText{
    font-size: var(--text-groesse);
    line-height: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}

#autoBild{
    height: 25em;
    background-size: contain;
    background-repeat: no-repeat;
}
